* {
	font-size: 18px;
	font-family: Arial;
  	margin: 0;
  	box-sizing: border-box;
  	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
	height:100%;
}


body {
  	margin: 0;
  	height:90%;
    width: 100%;
    background-image: url("../images/background.gif");
    background-repeat: repeat;
}

header {
	height: 100px;
	background: #FFFFFF;
	margin-bottom: 20px;
	padding-top: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
	height: 50px;
	background: #666666;
	padding: 20px;
	clear: both;
	text-align: center;
}

aside {
	float: left;
	width: 33%;
	margin-left: 30px;
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}


h1,h2,h3{
	font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


h4 {
	color:#4aaaa5;
	background-color: #FFFFFF;
}

#main {
	float: left;
	width: 50%;
	padding: 20px;
	margin-left: 50px;
	background: #FFFFFF;
}

#connect {
	float: left;
	width: 175px;
	background: #FFFFFF;
}

#full {
	clear: both;
	width: 100%;
	min-height: 100%;
  	margin-bottom: -200px;
}

#name {
	float: left;
	width: 33.3%;
	margin-left: 50px;
	margin-bottom: 0px;
	padding: 20px 20px 40px 20px;
	background: #4aaaa5;
	color: #FFFFFF;
}

#menu {
	float: right;
	width: 33.3%;
	padding-top: 30px;
}

.highlight {
   color:#4aaaa5;
   background-color: #FFFFFF;
}

form {
	width:459px;
	margin:0 auto;
}

label {
	display:block;
    margin-top: 20px;
}


input:focus, textarea:focus {
		border:1px solid #97d6eb;
}

textarea {
	height:213px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

#submit {
	background:#4aaaa5;
	color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

li {
    float: left;
}
li a{
	text-align: center;
    padding: 14px 16px;
}

a:link { color: black; }
a:visited { color: gray; }
a:hover { color: pink; }
a:hover:not(.active) {
    background-color: #111;
}
a:active {
    background-color: #111;
	color: yellow;
}
.active {
	background-color: #4aaaa5;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }